.DS_Store
xcuserdata
*.RPP-bak
.DS_Store
xcuserdata
*.RPP-bak
build-*
.idea/

*.ipch
*.db
*.suo
*/.vs/
.codex/
*.obj
*.pdb
*.ilk
test_vst3_host*
parse_dmp*
get_stack_trace*
resolve_addresses*
__pycache__/
*.pyc
*.pem
mkcert*
NeuralAmpModeler/peaks/

.vs/
