<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>NAM On Steroids</string>
	<key>CFBundleGetInfoString</key>
	<string>NAM On Steroids v2.3.4 Copyright 2022 Steven Atkinson</string>
	<key>CFBundleIdentifier</key>
	<string>com.TheToneScientist.vst3.NAMOnSteroids</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>NAM On Steroids</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>2.3.4</string>
	<key>CFBundleSignature</key>
	<string>1YEo</string>
	<key>CFBundleVersion</key>
	<string>2.3.4</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>LSMinimumSystemVersion</key>
	<string>10.15.0</string>
</dict>
</plist>
